/* Reseta todas as margens, paddings e bordas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Remover estilos padrão para listas não ordenadas e ordenadas */
ul,
ol {
  list-style: none;
}

/* Remove o sublinhado e cor padrão para links */
a {
  text-decoration: none;
  color: inherit;
}

/* Garante que os elementos de mídia sejam exibidos de forma apropriada */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Remove estilos padrão de cabeçalhos, parágrafos e outros blocos de texto */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
}

/* Define a altura do body e html para 100% para layout flex */
html,
body {
  height: 100%;
  margin: 0; /* Remover a margem do body */
  padding: 0;
}

/* Forçar as tabelas a terem uma estrutura simples */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Força a remoção de bordas, margens e paddings de formulários */
button,
input,
textarea {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* Remove o comportamento de formatação de inputs */
input,
button,
select,
textarea {
  font: inherit;
  color: inherit;
}

/* Força o botão a não ter estilo padrão de cursor */
button {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

/* Remove o estilo de focus padrão de navegadores */
:focus {
  outline: none;
}

/* Define o display padrão de elementos block e inline */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

main {
  display: block;
}

/* Força os elementos HTML5 a terem comportamento de bloco */
summary {
  display: list-item;
}

/* Garantia extra para remover a margem do body */
body {
  margin: 0 !important; /* Garante que a margem seja removida */
}

/* Garanta que o root do app sempre tenha espaço disponível */
#root {
  height: 100%;
}
